@import-normalize;

* {
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
}

html {
  overflow-y: scroll;
  background-color: #fcfcfc;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #4b5563;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  position: relative;
  flex-grow: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .body {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .body {
    padding: 0 16px;
  }
}
