.bestItem__img {
  max-width: 100%;
  width: 282px;
  height: 282px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.best_description {
  display: inline-block;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
