.nav {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item a {
  color: #4b5563;
  font-weight: 700;
  line-height: 21.48px;
  font-size: 18px;
  margin-left: 32px;
}

ul.menu {
  display: flex;
  align-items: center;
  padding-left: 32px;
  margin: 0;
  list-style: none;
}

ul.menu > li:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .item {
    font-size: 16px;
    line-height: 19.09px;
  }
}
