.productImg {
  width: 486px;
  height: 486px;
  margin-right: 24px;
  border-radius: 20px;
}

.productWrapper {
  max-width: 996px;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.productContent {
  width: 486px;
  height: 486px;
}

.productContent h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.64px;
  color: #1f2937;
  margin: 0;
}

.productContent h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 47.73px;
  color: #1f2937;
  margin: 0;
  margin-top: 16px;
  padding-bottom: 16px;
}

.productContent p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  color: #4b5563;
  margin-top: 16px;
  margin-bottom: 8px;
}

.productContent h3 {
  line-height: 22.4px;
  color: #1f2937;
  margin: 0;
}

.productContent h3 {
  margin-bottom: 24px;
}

.favoriteTag {
  width: 87px;
  height: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 35px;
  padding: 4px 12px 4px 12px;
  margin-top: 124px;
  gap: 10px;
  display: flex;
  align-items: center;
  color: #6b7280;
  font-weight: 500;
  line-height: 19.09px;
}

/* Tablet size*/
@media screen and (max-width: 1199px) {
  .productContent h2 {
    font-size: 20px;
    line-height: 23.87px;
  }

  .productContent h1 {
    font-size: 32px;
    line-height: 38.19px;
  }

  .productContent p {
    line-height: 19.6px;
  }

  .productImg {
    width: 340px;
    height: 340px;
  }

  .favoriteTag {
    margin-top: 25px;
  }
}
/*Mobile size*/
@media screen and (max-width: 767px) {
  .productContent h2 {
    font-size: 16px;
    line-height: 19.09px;
  }

  .productContent h1 {
    font-size: 24px;
    line-height: 28.64px;
  }

  .productContent p {
    line-height: 16.71px;
  }

  .favoriteTag img {
    width: 24px;
  }

  .productImg {
    width: 343px;
    height: 343px;
  }

  .favoriteTag {
    margin-top: 25px;
  }
}
