.productImg {
  max-width: 100%;
  width: 282px;
  height: 282px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  margin: 0;
  margin-top: 16px;
}

.price {
  font-weight: 700;
  line-height: 19.09px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.name,
.price {
  color: #1f2937;
}

.favorite {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.32px;
  color: #4b5563;
}
